body {
    font-family: 'Montserrat', sans-serif;
    background: radial-gradient(121.6% 49.96% at 50% 55.77%, #30C5CB 0%, #310E68 100%);
}

.flex {
    display: flex;
    flex-direction: row;
    font-size: 32px;
}

.navBar {
    background-color: #2D2D2D;
    margin: -8px -8px 0px -8px;
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    box-shadow: 0px 5px 5px #2D2D2D;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    padding: 0px 20px;
    color: white;
}
.navItem:hover {
    color: #30C5CB;
}

.logo {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero {
    height: 650px;
    padding: 10px;
}

.content {
    width: 1010px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 96px;
    color: white;
    text-shadow: 5px 5px 5px #2D2D2D;
    margin-bottom: -10px;
}

h1 span {
    display: inline-block;
}

h1 span::first-letter {
    font-family: 'Arizonia', cursive;
    margin-right: 10px;
    font-size: 150px;
}

.projects {
    width: 1300px;
    margin: 0px 15%;
}

.caseStudy {
    background-color: #2D2D2D;
    width: 1300px;
    height: 400px;
    box-shadow: 5px 5px 5px #2D2D2D;
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}

.caseImage {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 750px;
    height: 400px;
}

#lifelettersImage {
    background: linear-gradient(180deg, rgba(147, 176, 82, 0.5) 0%, #93B052 82.81%), #FFFFFF;
}

#marsImage {
    background: linear-gradient(180deg, rgba(254, 203, 119, 0.5) 0%, #FECB77 82.81%), #FFFFFF;
}

#travemoteImage {
    background: linear-gradient(180deg, rgba(99, 74, 165, 0.5) 0%, #634AAD 82.81%), #FFFFFF;
}

.study {
    color: white;
    font-weight: 500;
    font-size: 60px;
    margin: 0px auto;
}

.study span {
    font-size: 72px;
}

.caseText {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    font-size: 28px;
    font-weight: 500;
    width: 779px;
}

.studyText {
    width: 495px;
    margin: 0px auto;
}

.view {
    width: 274px;
    height: 49px;
    border-radius: 10px;
    align-self: center;
    border: none;
    font-size: 24px;
    font-weight: 700;
    color: #2D2D2D;
    background-color: #FFFFFF;
    text-align: center;
    margin: 30px;
}

.view:hover {
    transition: 0.7s;
}

.view span {
    color: #FFFFFF;
    font-size: 32px;
}

.view:hover span {
    color: #2D2D2D;
}

#lifeletters:hover {
    background: #93B052;
    color: #2D2D2D;
}

#mars:hover {
    background: #FECB77;
    color: #2D2D2D;
}

#travemote:hover {
    background: #634AAD;
    color: #FFFFFF;
}

#travemote:hover span {
    color: #FFFFFF;
}

h4 {
    color: #30C5CB;
    font-size: 48px;
    text-shadow: 4px 4px 4px #2D2D2D;
    margin-top: -10px;
}

.brackets {
    font-family: 'Arizonia', cursive;
    color: #30C5CB;
    text-shadow: none;
}

h4 .brackets {
    color: white;
    font-size: 64px;
    margin-top: -100px;
}

.content p {
    color: white;
    font-size: 36px;
    width: 775px;
    margin: 20px auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15%;
    margin-right: -8px;
}

.icon {
    padding: 10px 15px;
}

.sectionHeader {
    color: white;
    font-weight: 500;
    font-size: 64px;
    margin-bottom: -38px;
    margin-top: 20px;
    padding-left: 15%;
    text-shadow: 4px 4px 4px #2D2D2D;
}

.sectionHeader::first-letter {
    font-family: 'Arizonia', cursive;
    color: #30C5CB;
    font-size: 128px;
    padding-right: 8px;
}

.about {
    background: #2D2D2D;
    width: 1300px;
    height: 620px;
    box-shadow: 5px 5px 5px #2D2D2D;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "aboutTop"
    "aboutBottom";
    margin: 0px 15% 150px;
}

.aboutTop {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 400;
    grid-area: aboutTop;
}

.aboutTop p {
    margin: 25px auto;
    width: 1150px;
}

.aboutBottom {
    grid-area: aboutBottom;
    display: grid;
    grid-template-columns: 750px 350px;
    grid-template-areas: 
    "skills tools";
    justify-content: space-evenly;
    align-content: center;
}

.skills {
    grid-area: skills;
}

.skills h5 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.skillsList {
    display: flex;
    flex-direction: row;
}

.list ul {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-weight: 400;
    padding-right: 20px;
}

.tools {
    grid-area: tools;
    width: 350px;
}

.toolsList img {
    margin: auto;
    padding: 30px;
}

.tools h5 {
    font-size: 40px;
    font-weight: 400;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

footer {
    background-color: #2D2D2D;
    margin: 0px -8px -8px -8px;
    text-align: center;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    height: 150px;
}

h5 {
    font-size: 40px;
    font-weight: 400;
    margin: auto;
    justify-content: flex-start;
    color: #FFFFFF;
}

h5 .brackets {
    font-size: 52px;
}

footer .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0px;
}

footer .contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

#copyright {
    justify-content: baseline;
    margin: 0px 0px;
}

@media screen and (max-width: 600px) {
    .flex {
        display: flex;
        flex-direction: row;
        font-size: 32px;
    }
    
    .navBar {
        background-color: #2D2D2D;
        margin: -8px -8px 0px -8px;
        display: flex;
        justify-content: space-between;
        padding-left: 15%;
        padding-right: 15%;
        box-shadow: 0px 5px 5px #2D2D2D;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    li {
        padding: 0px 20px;
        color: white;
    }
    .navItem:hover {
        color: #30C5CB;
    }
    
    .logo {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .about {
        margin: 0px -8px;
        max-width: 360px;
        margin: 0 auto;
        height: 1000px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "aboutTop"
        "aboutBottom";
    }
    .aboutTop {
        font-size: 20px;
        font-weight: 400;
        max-width: 360px;
        grid-area: aboutTop;
    }
    .aboutTop p {
        margin: 10px auto;
        max-width: 340px;
    }
    .aboutBottom {
        margin: 20px auto;
        max-width: 360px;
        grid-area: aboutBottom;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "skills" 
        "tools";
        align-content: center;
    }
    .skillsList {
        display: flex;
        flex-direction: column;
        margin: 20px 5%;
    }
    .skills {
        grid-area: skills;
        width: 1fr;
    }
    .skills h5 {
        font-size: 32px;
        font-weight: 400;
        margin: 0 auto;
        color: #FFFFFF;
        text-align: center;
    }
    .tools {
        grid-area: tools;
        justify-content: space-around;
    }
    .tools h5 {
        font-size: 32px;
        font-weight: 400;
        margin: 0 auto;
        color: #FFFFFF;
        text-align: center;
    }
    .list ul {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        font-size: 20px;
        font-weight: 400; 
    }

    h5 {
        font-size: 24px;
        font-weight: 400;
        margin: auto;
        justify-content: flex-start;
        color: #FFFFFF;
    }
    
    h5 .brackets {
        font-size: 40px;
    }
    .sectionHeader {
        color: white;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: -10px;
        margin-top: 20px;
        padding-left: 15%;
        text-shadow: 4px 4px 4px #2D2D2D;
    }
    
    .sectionHeader::first-letter {
        font-family: 'Arizonia', cursive;
        color: #30C5CB;
        font-size: 64px;
        padding-right: 8px;
    }
    footer {
        background-color: #2D2D2D;
        margin: 0px -8px -8px -8px;
        width: 600px;
        height: 250px;
        text-align: center;
        color: white;
    }
    footer .flex {
        display: flex;
        width: 360px;
        flex-direction: column;
        justify-content: center;
        padding: 15px 0;
        margin: 0 5%;
    }
    
    footer .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 16px;
    }

    #break::before {
        content: "\a";
        white-space: pre;
    }
    
    #copyright {
        justify-content: baseline;
        width: 360px;
        margin: 0 5%;
    }
}

